# Python
backend/.venv/
backend/venv/
__pycache__/
*.pyc

# Frontend
frontend/veracity-ui/node_modules/
frontend/veracity-ui/.next/

# Env
.env

# Uploaded docs
backend/uploaded_docs/
backend/vault_db/

# OS
.DS_Store
Thumbs.db